@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Oswald&family=Raleway&display=swap');

:root {
  --heading-font: Oswald, sans-serif;
  --body-font: Raleway, sans-serif;
  --dark-blue: #08115C;
  --light-blue: #4081E8;
  --box-background: #9CC7C4;
  --orange: #CE884B;
  --card: #ebeae7;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--orange);
  background-color: var(--dark-blue);
}

/* Headings */

h1, h2 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

h1 {
  margin: 5vh auto 1vh;
  font-size: 250%;
}

h2 {

}


ul {
  margin: 0 25vw;
  font-size: 120%;
}


#target {
  height: 150px;
  width: 450px;
  margin: 20px auto;
  text-align: left;
}

.random-number {
  height: 100%;
  width: 25%;
  background-color: var(--box-background);
  border: 1px solid black;
  font-family: Orbitron;
  font-size: 750%;
  text-align: center;
  display: inline-block;
  margin: 0 -5px;
}

#get-target {
  float: right;
  height: 60%;
  width: 22%;
  border-radius: 50%;
  margin-top: 35px;
  margin-right: 10px;
  background-color: var(--box-background);
}

#user-nums {
  height: 6em;
  width: 60vw;
  margin: 20px auto;
  text-align: center;
}

.card {
  height: 6em;
  width: 6em;
  border: 2px solid black;
  border-radius: 10%;
  display: inline-block;
  background-color: var(--card);
}

#cards-container {
  height: 20em;
  width: 55vw;
  background-color: var(--box-background);
  margin: 20px auto;
  text-align: center;
  padding-top: 5px;
}

