@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Oswald&family=Raleway&display=swap');

:root {
  --heading-font: Oswald, sans-serif;
  --body-font: Raleway, sans-serif;
  --number-font: Orbitron, sans-serif;
  --background: #0B3C5D;
  --box-background: #6aadca;
  --text: #e45d0f;
  --card: #C0C0C0;
  --stop: #d3212d;
  --white: #ffffff;
  --background: #3C3744;
  --box-background: #2A5AA7;
  --text: #090C9B;
  --card: #D3D9E9;
  /* --stop: #; */
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
}

/* Headings */

h1, h2 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  letter-spacing: 4px;
  /* text-shadow: 2px 2px black; */
  text-align: center;
}

h1 {
  margin: 1vh auto 1vh;
  font-size: 350%;
  color: var(--card)
}

h2 {
  font-size: 200%;
  color: var(--text);
}

#instructions-badge {
  background-color: var(--card);
  width: 25vw;
  margin: 0 auto 1vh;
  border-radius: 15px;
  height: 2.5em;
  line-height: 2.25em;
  box-sizing: border-box;
}

i {
  transition: all .5s linear;
}

.rotate180-animation{
  transform: rotate(180deg);
  /* text-shadow: 0px -1px black; */
}

ul {
  margin: 0 25vw;
  font-size: 150%;
  /* text-shadow: 1px 1px black; */
  list-style-type: none;
  color: var(--card);
}

hr {
  border-top: 1px dashed var(--card);
  margin: 5px -5%;
  width: 110%;
}


@media screen and (max-width: 1150px) {
  h1 {
    font-size: 300%;
  }

  #instructions-badge {
    width: 45vw;
  }

  ul {
    font-size: 130%;
    margin: 2vh 15vw;
  }
}

@media screen and (max-width: 690px) {
  #instructions-badge {
    width: 70vw;
    font-size: 80%;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 200%;
  }

  #instructions-badge {
    width: 85vw;
  }

  ul {
    font-size: 110%;
    margin: 2vh 5vw;
  }

  hr {
    width: 102%;
    margin: 5px -1%;
  }
}


#target {
  height: 18vh;
  width: 35vw;
  margin: 20px auto 0;
  text-align: center;
  line-height: 18vh;
}

.random-number {
  height: 100%;
  width: 34%;
  background-color: var(--card);
  border: 1px solid black;
  font-family: Orbitron;
  font-size: 550%;
  text-align: center;
  display: inline-block;
  margin: 0 -5px;
  /* text-shadow: 2px 2px black; */
}

.stop {
  height: 6vh;
  width: 35.3vw;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
  background-color: var(--stop);
  font-family: var(--number-font);  
}

.stop h2 {
  color: var(--card);
}

@media screen and (max-width: 1025px) {
  #target {
    width: 50vw;
  }

  .stop {
    width: 50vw;
  }

  .random-number {
    font-size: 450%;
  }
}

@media screen and (max-width: 768px) {
  #target {
    width: 65vw;
  }

  .stop {
    width: 65vw;
  }

  .random-number {
    font-size: 450%;
  }
}


@media screen and (max-width: 430px) {
  #target {
    width: 75vw;
  }

  .stop {
    width: 75vw;
  }

  .random-number {
    font-size: 450%;
  }
}

#user-nums {
  width: 50vw;
  margin: 30px auto 30px;
  text-align: center;
  vertical-align: middle;
  /* background-color: fuchsia; */
}

.normal-user-nums-height {
  height: 6em;
}

.user-pick {
  position: relative;
  height: 6em;
  border: 2px solid black;
  border-radius: 10%;
  display: inline-block;
  vertical-align: top;
  background-color: var(--card);
  font-family: var(--number-font);
  line-height: 6em;
  /* text-shadow: 2px 2px black; */
  margin: 1px;
}

.five-plus {
  width: 8em;
}

.four {
  width: 8em;
}

.three {
  width: 9em;
}

.two {
  width: 11em;
}

.one {
  width: 13em;
}

@media screen and (max-width: 1720px) {
  .five-plus {
    width: 6.8em;
  }
}

@media screen and (max-width: 1400px) {
  #user-nums {
    width: 35vw;
    margin: 15px auto 25px;
  }

  .normal-user-nums-height {
    height: 10em;
  }

  .user-nums-adjusted-height {
    height: 5em;
  }

  .user-pick {
    height: 5em;
    line-height: 5em;
  }

  .five-plus {
    width: 9em;
  }

  .four {
    width: 12em;
  }
  
  .three {
    width: 7em;
  }
  
  .two {
    width: 9em;
  }
  
  .one {
    width: 11em;
  }
}

@media screen and (max-width: 1300px) {
  #user-nums {
    width: 46vw;
  }
}

@media screen and (max-width: 1150px) {
  #user-nums {
    width: 48vw;
  }
}

@media screen and (max-width: 950px) {
  #user-nums {
    width: 59vw;
  }
}

@media screen and (max-width: 765px) {
  #user-nums {
    width: 70vw;
  }

  .four {
    width: 13em;
  }
}

@media screen and (max-width: 650px) {
  #user-nums {
    width: 92vw;
  }
}

@media screen and (max-width: 490px) {
  #user-nums {
    width: 70vw;
  }

  .normal-user-nums-height {
    height: 9em;
  }

  .user-nums-adjusted-height {
    height: 4em;
  }

  .user-pick {
    height: 4em;
    margin: 2px;
    line-height: 4em;
  }

  .five-plus {
    width: 6em;
  }

  .four {
    width: 8em;
  }
}

@media screen and (max-width: 450px) {
  #user-nums {
    width: 80vw;
  }
 
  .user-nums-adjusted-height {
    height: 4em;
  }
}

@media screen and (max-width: 390px) {
  #user-nums {
    width: 85vw;
  }
}

@media screen and (max-width: 370px) {
  #user-nums {
    width: 95vw;
  }

  .five-plus {
    width: 5em;
  }
}


.display-none {
  display: none;
}

#input-container {
  background-color: var(--box-background);
  position: relative;
  width: 45vw;
  margin: 0 auto;
  text-align: center;
  margin: 2vh auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}

.normal-height {
  height: 40vh;
}

.dynamic-height {
  height: 34vh;
}

@media screen and (max-width: 1870px) {
  #input-container {
    width: 48vw;
  }
}

@media screen and (max-width: 1760px) {
  #input-container {
    width: 52vw;
  }
}

@media screen and (max-width: 1630px) {
  #input-container {
    width: 55vw;
  }
}

@media screen and (max-width: 1550px) {
  #input-container {
    width: 59vw;
  }
}

@media screen and (max-width: 1440px) {
  #input-container {
    width: 62vw;
  }
}

@media screen and (max-width: 1355px) {
  #input-container {
    width: 65vw;
  }
}

@media screen and (max-width: 1295px) {
  #input-container {
    width: 68vw;
  }
}

@media screen and (max-width: 1240px) {
  #input-container {
    width: 72vw;
  }
}

@media screen and (max-width: 1165px) {
  #input-container {
    width: 78vw;
  }
}

@media screen and (max-width: 1080px) {
  #input-container {
    width: 83vw;
  }
}

@media screen and (max-width: 1080px) {
  #input-container {
    width: 90vw;
  }
}

#large-cards {
  margin-bottom: 5px;
}
.card {
  position: relative;
  height: 5em;
  width: 5em;
  border: 2px solid black;
  border-radius: 10%;
  display: inline-table;
  background-color: var(--card);
  color: var(--text);
  font-family: var(--number-font);
  line-height: 5em;
  transform-style: preserve-3d;
  /* text-shadow: 2px 2px black; */
  transition: all 0.6s ease;
}

.front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.mobile {
  height: 8em;
  width: 8em;
  line-height: 8em;
  margin: 5em 1vw;
  font-family: var(--body-font);
}

.flipCard {
  transform: rotateY(180deg);
}

.card h3 {
  font-size: 220%;;
}

.user-pick h3 {
  font-size: 250%;
}

@media screen and (max-width: 750px) {
  .user-pick h3 {
    font-size: 200%;
  }
}

form {
  margin: 20px auto;
  font-size: 180%;
}

.input {
  width: 25%;
  height: 60px;
  margin: 0 1vw;
  vertical-align: top;
  font-family: var(--number-font);
  font-size: 150%;
  color: var(--text);
  background-color: var(--card);
  text-align: center;
  /* text-shadow: 2px 2px black; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button {
  width: 40px;
  height: 40px;
  margin: 12.5px auto;
  font-size: 100%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: var(--card);
  color: var(--text);
  border-radius: 15%;
}

option {
  background-color: var(--card);
  color: var(--text);
}

#done {
  height: 4em;
  width: 15em;
  position: absolute;
  background-color: var(--background);
  bottom: 10px;
  left: 40%;
  font-family: var(--number-font);
}

#done h2 {
  color: var(--card);
}

@media screen and (max-width: 950px) {
  #done{
    left: 35%;
  }
}

@media screen and (max-width: 600px) {
  .input {
    width: 20vw;
    font-size: 120%;
  }

  #done {
    left: 30%;
  }
}

@media screen and (max-width: 450px) {
  .input {
    width: 18vw;
    font-size: 100%;
  }

  #done {
    left: 25%;
  }
}

@media screen and (max-width: 395px) {
  #done {
    left: 20%;
  }

  .input {
    font-size: 80%;
    /* text-shadow: 1px 1px black; */
  }
}

@media screen and (max-width: 340px) {
  #done {
    left: 15%;
  }
}

#modal {
  position: absolute;
  width: 60%;
  height: 70%;
  background-color: var(--box-background);
  top: 15%;
  left: 20%;
  z-index: 2;
}

#modal h2 {
  position: relative;
  color: var(--text);
  font-family: var(--number-font);
  font-size: 400%;
  text-align: center;
  margin-top: 25vh;
  /* text-shadow: 2px 2px black; */
}

@media screen and (max-width: 600px) {
  #modal h2 {
    font-size: 200%;
  }
}

#scoreboard {
  position: absolute;
  width: 16vw;
  height: 40vh;
  border: 5px solid var(--card);
  top: 65px;
  right: 1vw;
  text-align: center;
  font-size: 125%;
  /* text-shadow: 1px 1px #ffffff; */
  border-radius: 15%;
  background-color: var(--box-background);
  display: table;
  padding: 3vh 0.4vw;
  z-index: 1;
}

#scoreboard > * {
  transform: translateY(1vh);
  color: var(--card);
}

.score-type {
  margin: 1vh;
  font-size: 110%;
}

.score-type p {
  font-family: var(--body-font);
  font-size: 120%;
}

@media screen and (max-width: 1400px) {
  #scoreboard {
    transform: scale(0.8);
  }
}